
 header{
                background-color: yellow;
                padding: 10px;
                text-align: center;
                text-decoration: none;
 }

aside{
	padding: 20px;
	margin-left: 0px;
}
