
/* Your CSS Code here. */
 header{
                background-color: yellow;
                padding: 10px;
                text-align: center;
                text-decoration: none;
 }
nav{
	text-decoration: none;
	padding: 10px;
	padding-left: 10px
	}
aside{
	padding: 20px;
	margin-left: 0px;
}
